<h1>Homepage#home</h1>
<p>Find me in app/views/homepage/home.html.erb</p>
<body>


<%= link_to 'Sign Up', new_user_registration_path %>
<%= link_to 'Sign In', new_user_session_path %>




</body>
    

