// Place all the styles related to the Parking controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

$color_background: #FFFEEACC;
$color_btn: #175B00AA;

.container{
  background-color: $color_background;
  border-radius: 30px;
  margin: 20px;
  padding: 20px;
  font-size: 18px;
}

.btn-book{
  background-color: $color_btn;
  width: 200px;
  text-align: center;




}
