<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Message below have been submitted successfully! </h1>
    <p>
       <%= @message %>.<br>
    </p>
    <p>
      Sender Details:  <%= @user.forename %>  , <%= @user.surname %>, <%= @user.email %>.
    </p>
    <p>We will reply shortly :)</p>
  </body>
</html>
